*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #008cff;
  --primary-text: black;
  --secondary: white;
  --secondary-text: white;
  --neutral-text: rgb(102, 102, 102);
  --card-border-color: rgb(250, 171, 24);
  --neutral: #e2e8f0;
}

html {
  font-size: 62.5%;
}
body {
  width: 100%;

  min-height: 100vh;
}

.container {
  width: 100%;
  min-height: inherit;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
}

.sidebar {
  grid-row: 1/3;
  background-color: var(--primary);
  display: grid;
  gap: 3rem;
  padding: 1rem 0.5rem;
  align-content: start;
}
.dashboard-options {
  display: grid;
  row-gap: 1rem;
  align-self: top;
}
.dashboard-item {
  display: grid;
  grid-template-columns: max-content;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 1rem;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 0.7rem;
  cursor: pointer;
}
.title {
  justify-self: start;
  color: white;
  display: grid;
  gap: 0.2rem;
  grid-template-columns: max-content;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  font-family: sans-serif;
  cursor: pointer;
}
.title > .material-icons {
  font-size: 2rem;
}
.title > h1 {
  font-size: 1.2rem;
}
.dashboard-item > span {
  font-size: 2rem;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.2rem;
  row-gap: 1.5rem;
  padding: 1rem 0.5rem;
}
.search {
  border: none;
  border-radius: 15px;
  font-size: 0.5rem;
  height: 15px;
  outline: none;
  background-color: var(--neutral);
}
.account-info > .profile-image,
.trending-image {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.profile-introduction > .profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.profile-name,
.profile-username,
.small-introduction-text {
  font-family: "Poppins", sans-serif;
}
.small-introduction-text {
  font-size: 0.8rem;
  font-weight: 600;
}
.profile-username {
  font-weight: bold;
}
.profile-username {
  font-size: 0.9rem;
}
section.header span {
  font-size: 1.2rem;
}
.profile-name {
  font-size: 0.8rem;
  font-weight: 600;
}
.dashboard-button {
  border: none;
  outline: none;
  background-color: var(--primary);
  color: var(--secondary-text);
  border-radius: 20px;
  text-align: center;
  font-size: 0.7rem;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}
.search-section {
  display: grid;
  grid-template-columns: max-content;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
}
.account-info {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
.account-info span {
  cursor: pointer;
}
.buttons-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.main-content {
  background-color: var(--neutral);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: max-content 1fr;
  padding: 3rem 0.5rem;
  column-gap: 0.45rem;
  row-gap: 2rem;
}
.projects-section {
  position: relative;
  display: grid;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  grid-row: 1/3;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
}
.project-section-title,
.announcements-section-title,
.trending-section-title {
  font-family: sans-serif;
  font-size: 0.7rem;
  position: absolute;
  top: -10px;
}
.project-card {
  padding: 0.5rem 0.8rem;
  display: grid;
  row-gap: 0.2rem;
  background-color: var(--secondary);
  border-left: 2px solid var(--card-border-color);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.project-title {
  font-size: 0.7rem;
  font-family: sans-serif;
}
.project-content {
  font-size: 0.7rem;
  color: var(--neutral-text);
}
.project-icons {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 0.5rem;
  justify-self: end;
  align-self: end;
}
.project-icons > span {
  font-size: 1rem;
}
.announcements-section,
.trending-section {
  display: grid;
  position: relative;
  background-color: var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;
  grid-auto-rows: max-content;
  padding: 0.5rem 0.2rem;
  row-gap: 0.5rem;
  height: max-content;
}
.announcement-title {
  font-size: 0.6rem;
  font-family: sans-serif;
  font-weight: bold;
}
.announcement-content {
  font-size: 0.6rem;
  color: var(--neutral-text);
}
.announcement {
  display: grid;
  row-gap: 0.4rem;
  padding: 1rem 0rem;
}
.announcement:nth-child(3) {
  border-top: 1px solid var(--neutral);
  border-bottom: 1px solid var(--neutral);
}

@media only screen and (min-width: 540px) {
  section.header {
    grid-template-columns: 3fr 1fr;
    padding: 1rem 1.3rem;
  }
  .search-section {
    gap: 0.5rem;
  }
  .profile-name {
    font-size: 0.9rem;
  }
  .account-info > .profile-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .dashboard-button {
    padding: 0.5rem 1.3rem;
    font-size: 1.1rem;
    width: 100%;
  }
  .profile-introduction > .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .small-introduction-text {
    font-size: 1rem;
  }
  .profile-username {
    font-size: 1.3rem;
  }
  section.header span {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 768px) {
  .title > h1 {
    font-size: 2rem;
  }
  .title > .material-icons {
    font-size: 2.5rem;
  }
  .dashboard-item {
    font-size: 1.5rem;
    gap: 1.3rem;
  }
  .dashboard-item > span {
    font-size: 2rem;
  }
  .title {
    gap: 0.3rem;
  }
  .sidebar {
    padding: 2rem 2rem;
    gap: 5rem;
  }
  .dashboard-options {
    row-gap: 2.5rem;
  }

  .search-section {
    gap: 0.8rem;
  }
  .profile-name {
    font-size: 1.2rem;
  }
  .account-info > .profile-image {
    height: 40px;
    width: 40px;
  }
  .dashboard-button {
    padding: 1rem;
    font-size: 1.5rem;
    min-width: 80px;
  }
  .profile-introduction > .profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .small-introduction-text {
    font-size: 1.4rem;
  }
  .profile-username {
    font-size: 1.7rem;
  }
  .buttons-container {
    gap: 1.3rem;
  }
  section.header span {
    font-size: 2.4rem;
  }
  .search {
    padding: 1.5rem 1rem;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .sidebar {
    padding: 1rem 2rem;
  }
  .account-info {
    gap: 4rem;
  }
  .dashboard-item > span {
    font-size: 2.3rem;
  }
  .title > h1 {
    font-size: 2.4rem;
  }
  .title > .material-icons {
    font-size: 3.2rem;
  }
  .dashboard-item {
    font-size: 1.9rem;
  }
  .title {
    gap: 1.2rem;
  }
  .dashboard-options:nth-child(3) {
    margin-top: 3rem;
  }
  section.header {
    padding: 2rem 3.5rem;
    row-gap: 4rem;
  }
  .search-section {
    gap: 2.5rem;
  }
  .profile-name {
    font-size: 1.8rem;
  }
  .account-info > .profile-image {
    height: 55px;
    width: 55px;
  }
  .dashboard-button {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    min-width: 110px;
  }
  .profile-introduction > .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .small-introduction-text {
    font-size: 1.4rem;
  }
  .profile-username {
    font-size: 2rem;
  }
  .buttons-container {
    gap: 1.3rem;
  }
  section.header span {
    font-size: 3rem;
  }
  .search {
    font-size: 1.7rem;
    padding: 1.7rem 1.3rem;
  }
  .profile-introduction {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-content: start;
    gap: 2rem;
  }
  .profile-text-container {
    display: grid;
    gap: 1rem;
  }
}
